@model LMS.ViewModels.User.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<div class="edit-parent">
    <img src="~/assets/images/Front/edit.png" alt=" " />
    <div class="form">
        <h3> تعديل</h3>
        <form method="post">
            <div class="edit">
                <!-- <label for="pass">current Passoword</label> -->
                <input type="password" name="OldPass" id="pass" asp-for="@Model.OldPass" placeholder="كلمة السر الحالية">
            </div>

            <div class="edit">
                <!-- <label for="newpass">New Passoword</label> -->
                <input type="password" name="newpass" id="newpass" asp-for="@Model.NewPass" placeholder="كلمة السر الجديدة">
            </div>


            <div class="edit">
                <!-- <label for="confpass">confirm Passoword</label> -->
                <input type="password" name="ConfirmPass" id="confpass" asp-for="@Model.ConfirmPass" placeholder="تاكيد كلمة السر الجديدة">
            </div>

            <button type="submit">Save</button>
        </form>
    </div>
</div>
