@model LMS.ViewModels.Course.AddCourseVM;
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<div class="container">

    <form method="post" enctype="multipart/form-data">

        <input type="file" asp-for="@Model.file" name="file" class="form-control rounded-4 fileInput" placeholder="ve" required>

        <div class="input-box">
            <input type="text" asp-for="@Model.Name" name="Name" class="title " placeholder="Course Name" required>


        </div>
        <div class="input-box">
            <textarea type="text" asp-for="@Model.Description" name="Description" class="title " placeholder="Course Name" required></textarea>


        </div>
        <br />
        <div class="input-box">
            <input type="text" class="price" asp-for="@Model.Price" name="Price" placeholder="Price" required>

        </div>
        <button type="submit" class="btn"> Add </button>
    </form>
</div>
