@model StudentQuiz
@{
    ViewData["Title"] = "DisplayPdf";
}

<h1>DisplayPdf</h1>

<div class="pdf-container container" style="width: 100%; height: 100vh;">
	<embed src="~/@Model.StudentAnswerPath" type="application/pdf" width="100%" height="100%">
</div>
